body{
    display: flex;
    margin: 0;
    background: black;
    color: white;
    padding: 0;

}

.logo{
    font-size: 30px;
    font-weight: 100;

}
.logo h3{
    color: white;
    font-style: italic;
}
.logo span{
    color: rgb(243, 170, 36);
    font-style: inherit;
}

nav{
    margin-top: 50px;
    outline: none;
    font-family: 12px;
    font-weight: 100;

  

}
nav a{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}