body{
    display: flex;
    margin: 0;
    background: black;
    color: white;
    padding: 0;

}

.logo{
    font-size: 30px;
    font-weight: 100;

}
.logo h3{
    color: white;
    font-style: italic;
}
.logo span{
    color: rgb(243, 170, 36);
    font-style: inherit;
}

nav{
    margin-top: 50px;
    outline: none;
    font-family: 12px;
    font-weight: 100;
    transform: translateX(50%);
    gap: 20px;
    text-decoration: none;
    color: white;
  

}
nav a{
 position: relative;
 padding: 0 29px;
 color: white;
 text-decoration: none;
 z-index: 1;
 cursor: pointer;
}

nav a:hover{
    color: rgb(252, 181, 49);
    cursor: pointer;
}