*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
}
header{
    background: rgb(2, 60, 60);
    height: 80px;
}
.main-header{
    display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1140px;
      margin: 0 auto;
      gap: 20px;
      height: 100%;
      position: relative;

}

.logo h2{
    color: wheat;

}
.navbar{
    display: flex;
    align-items: center;
    gap: 10px;

}
.nav-menu ul{
  list-style-type: none;

}
.nav-link{
    display: inline-block;
}

.nav-link a{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 10px;
    color: wheat;
    font-weight: 500;
    transition: 0.3s ease-in-out ;
}

.nav-menu a:hover{
    color: white;
}
.content-btn{
    background: white;
    color: brown;
    padding: 10px 16px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}
.content-btn:hover{
    cursor: pointer;
    background:brown ;
    color: wheat;

}

/* toggle */
.toggle{
    position: absolute;
    right: 0;

}
.menu-icon{
    width: 20px;
    height: 20px;
   position: relative;
   background: red;

}
.menu-icon span{
    background: white;
      height: 2px;
    width: 100%;
    display: block;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.menu-icon .top{
    transform: translate-(-50%,-8%);

}
.menu-icon .end{
    transform: translate-(-50%,-6%);     
}