*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
}
header{
    background: rgb(2, 60, 60);
    height: 80px;
}
.main-header{
    display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1140px;
      margin: 0 auto;
      gap: 20px;
      height: 100%;
      position: relative;

}

.logo h2{
    color: wheat;

}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    
}